h1.title_d_apmnt {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.calenderClass {
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
