/* testing start*/

.fullheader {
    width:100%;
    position:relative;
    background:white;
    z-index: 1;
}
/* .fullheader::after, .fullheader::before {
    height:100%;
    content:' ';
    position: absolute;
    top: 0;
    width: 37%;
    z-index: -1;
}
.fullheader::after {
    right: 0;
    background-color: #3A4256;
    z-index:-1;
} */

/* testing end   */