
.btnclass {
    background-color: #17D2B6;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    margin-top: 20px;
}
img.imgClass {
    width: 100%;
}

h4.TitleAppmnt {
    margin-bottom: 25px;
}
.appointmentArea.col-md-5.col-12 {
    padding-left: 4%;
}
a.btnclass.appmnt {
    text-decoration: none;
    color: black;
    /* padding-bottom: 10px; */
}
.cardinfo.col-md-3.col-6 {
   
    margin-right: 40px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;   
}
.titleinfo {
    margin-top: 16px;
}

