img.apnmtimg {
    width: 100%;
}
.appointmenthome {
    background-color: #3C4356;
}
.col-md-6.col-12 {
    color: aliceblue;
}

/* testing overflow image  */

.full-width {

    margin-top: -7vw;

    position: relative;
}

  /* testing overflow image finish  */
  .appointmenthome {
    margin: 50px 0 50px 0;
}

button.learnmore_ah.btn.btn-primary {
    width: -moz-fit-content;
    width: fit-content;
    background-color: #15D1C4;
    padding: 10px 25px 10px 25px;
    margin-top: 30px;
    margin-left: 10px;
}
a.learnmore_ah {
    text-decoration: none;
    border: 2px solid;
    width: fit-content;
    background-color: aquamarine;
    padding: 8px 30px 8px 30px;
    border-radius: 2px;
    margin-top: 20px;
   color:black;
    margin-left: 20px;
}
a:hover {
    color: black;
}